@use 'sass:math';
@import './breakpoints';
/*
screen types: 
    mobile,
    desktop,
*/
@mixin media($_screen) {
  @if $_screen == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $_screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin font($_fsz, $_lnh) {
  font-size: #{$_fsz}px;

  $result: math.div($_lnh, $_fsz);

  line-height: math.div(math.round($result * 100), 100);
}

@mixin text-shadow($_color) {
  text-shadow: 0px -2px $_color, 1px -2px $_color, 2px -2px $_color,
    2px -1px $_color, 2px 0px $_color, 2px 1px $_color, 2px 2px $_color,
    1px 2px $_color, 0px 2px $_color, -1px 2px $_color, -2px 2px $_color,
    -2px 1px $_color, -2px 0px $_color, -2px -1px $_color, -2px -2px $_color,
    -1px -2px $_color;
}
