html {
  scroll-behavior: smooth;
}

body {
  background-image: url('/img/background/background2x.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 192dpi) {
    background-image: url('/img/background/background2x.png');
  }
}

section {
  padding: 32px 0px 10px;

  @include media(desktop) {
    padding: 40px 0px;
  }
}

.section-title {
  margin-bottom: 16px;
  text-align: center;
  color: #fff;

  text-shadow: -2px 0px #8650d8, 2px 0 #8650d8, 0px -2px #8650d8, 0 2px #8650d8,
    2px 2px #8650d8, -2px -2px #8650d8, -2px 2px #8650d8, 2px -2px #8650d8;

  font-size: 28px;
  font-weight: 700;

  @include media(desktop) {
    text-align: start;
    font-size: 64px;
  }
}
.section-subtitle {
  margin: 0 auto 45px auto;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;

  @include media(desktop) {
    text-align: start;
    font-size: 40px;
  }
}

.container {
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 16px;

  @include media(desktop) {
    max-width: $desktop;
    padding: 0 32px 0 120px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

:root {
  font-family: 'Comfortaa', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;

  color: #2c2c54;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
