.challenges-section .section-subtitle {
  text-transform: capitalize;
  margin-bottom: 16px;
  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.challenges-imgs {
  margin: 0 auto;
  width: 320px;
  height: 960px;

  box-shadow: #ffffffa0 0px 0px 30px 25px inset, #ffffffa0 0px 0px 30px 25px;

  background-image: url('/img/challenges/bg-1@1x.png'),
    url('/img/challenges/bg-2@1x.png'), url('/img/challenges/bg-3@1x.png');
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 5%, 50%, 95%;
  background-size: 128px;

  @media (min-resolution: 192dpi) {
    background-image: url('/img/challenges/bg-1@2x.png'),
      url('/img/challenges/bg-2@2x.png'), url('/img/challenges/bg-3@2x.png');
  }

  @include media(desktop) {
    width: 1150px;
    height: 808px;

    background-position-x: 5%, 50%, 95%;
    background-position-y: 50%;
    background-size: 250px, 350px, 250px;
  }
}
