.header {
  position: sticky;
  z-index: 99;
  top: 0;
  padding: 8px 0;
}

.header .container {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    padding: 20px 32px;
    justify-content: flex-start;
    gap: 16px;
  }
}

.header .logo-image {
  width: 27px;

  @include media(desktop) {
    width: 42px;
  }
}

.header-nav {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.header-nav-list {
  display: flex;
  gap: 24px;
}

.header-nav-link {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.mob-menu-btn {
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;

  @include media(desktop) {
    display: none;
  }
}

.header-icon-burger {
  width: 16px;
  height: 16px;
}

.header-mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;

  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  background-image: url('/img/background/background-secondary1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-resolution: 192dpi) {
    background-image: url('/img/background/background-secondary2x.png');
  }

  transform: translateX(100vw);
  transition: transform 300ms ease-in-out, opacity 350ms ease-in-out,
    visibility 300ms ease-in-out;

  @include media(desktop) {
    display: none;
  }
}

.header-mob-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.header-mob-nav {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  padding: 60px 31px;

  .mob-menu-btn {
    position: absolute;
    top: 16px;
    right: 16px;

    .header-icon-burger {
      width: 11px;
      height: 11px;
    }
  }
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.mob-nav-link {
  font-size: 16px;
  font-weight: 400;
  color: #1e1e1e;
}
