.hero-section {
  overflow: hidden;
  padding-bottom: 22px;

  @include media(desktop) {
    padding: 60px 0 50px;
  }
}

.hero-section .container {
  position: relative;
  overflow: visible;
  text-align: center;

  @include media(desktop) {
    height: 770px;
    background-image: url('/img/hero/desktop-items1x.png'),
      url('/img/hero/desktop-mobile1x.png');
    background-repeat: no-repeat;
    background-position: 0px 220px, 720px 0px;
    background-size: 600px, 370px;

    @media (min-resolution: 192dpi) {
      background-image: url('/img/hero/desktop-items2x.png'),
        url('/img/hero/desktop-mobile2x.png');
    }
  }
}

.hero-title {
  font-family: 'Bungee', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;

  display: flex;
  flex-direction: column;

  @include media(desktop) {
    position: relative;
    line-height: 0.9;
    font-size: 80px;
    align-items: flex-start;
    transform: translateY(40px);
  }
}

.hero-title-one {
  color: #3ef4ff;
  text-shadow: -5px 0 #083446, -5px -5px #083446, 0 -5px #083446,
    5px 5px #083446, 0 5px #083446, 5px 0 #083446, -5px 5px #083446,
    5px -5px #083446;

  @include media(desktop) {
    margin-left: 12px;
  }
}

.hero-title-two {
  font-size: 50px;
  color: #ffec32;
  text-shadow: -5px 0 #993d02, -5px -5px #993d02, 0 -5px #993d02,
    5px 5px #993d02, 0 5px #993d02, 5px 0 #993d02, -5px 5px #993d02,
    5px -5px #993d02;

  @include media(desktop) {
    font-size: 100px;
  }
}

.hero-title-three {
  color: #9af846;
  text-shadow: -5px 0 #263c04, -5px -5px #263c04, 0 -5px #263c04,
    5px 5px #263c04, 0 5px #263c04, 5px 0 #263c04, -5px 5px #263c04,
    5px -5px #263c04;

  @include media(desktop) {
    margin-left: 120px;
  }
}

.hero-title-image {
  display: none;

  @include media(desktop) {
    position: absolute;
    top: -20px;
    left: 350px;
    display: block;
    width: 115px;
    height: 190px;
    background-image: url('/img/hero/heading-image1x.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 192dpi) {
      background-image: url('/img/hero/heading-image2x.png');
    }
  }
}

.hero-images-wrapper {
  width: 120%;
  height: 343px;
  background-image: url('/img/hero/mob-items1x.png'),
    url('/img/hero/mob-mobile1x.png');
  background-repeat: no-repeat;
  background-position: 5px 5px, 105px 65px;
  background-size: 96%, 37%;

  @media (min-resolution: 192dpi) {
    background-image: url('/img/hero/mob-items2x.png'),
      url('/img/hero/mob-mobile2x.png');
  }
  @include media(desktop) {
    display: none;
  }
}

.hero-link-googleplay {
  position: absolute;
  bottom: 0px;
  left: 100px;

  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.1;
  color: white;
  text-decoration: none;
  background-color: #1a73e8;
  border: 1px solid #a6a6a6;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  @include media(desktop) {
    gap: 18px;
    left: 110px;

    padding: 10px 20px;
  }
}

.hero-link-googleplay:hover {
  background-color: #1669c1;
}

.hero-googleplay-icon {
  width: 22px;
  height: 22px;
  background-image: url('/img/hero/playstore.png');
  background-repeat: no-repeat;
  background-size: cover;

  @include media(desktop) {
    width: 50px;
    height: 54px;
  }
}
.hero-googleplay-text {
  display: flex;
  flex-direction: column;
  align-items: start;

  & .small-text {
    font-size: 8px;
    font-weight: 400;
    @include media(desktop) {
      font-size: 16px;
    }
  }
  & .store-name {
    font-size: 15px;
    font-weight: 500;
    @include media(desktop) {
      font-size: 36px;
    }
  }
}
