.hero-section {
  overflow: hidden;
  padding-bottom: 22px;

  @include media(desktop) {
    padding: 60px 0 100px;
  }
}

.hero-section .container {
  overflow: visible;
  text-align: center;

  @include media(desktop) {
    position: relative;
    height: 702px;
    background-image: url('/img/hero/desktop-items1x.png'),
      url('/img/hero/desktop-mobile1x.png');
    background-repeat: no-repeat;
    background-position: 0px 220px, 720px 0px;
    background-size: 600px, 370px;

    @media (min-resolution: 192dpi) {
      background-image: url('/img/hero/desktop-items2x.png'),
        url('/img/hero/desktop-mobile2x.png');
    }
  }
}

.hero-title {
  font-family: 'Bungee', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;

  display: flex;
  flex-direction: column;

  @include media(desktop) {
    position: relative;
    line-height: 0.9;
    font-size: 80px;
    align-items: flex-start;
    transform: translateY(40px);
  }
}

.hero-title-one {
  color: #3ef4ff;
  text-shadow: -5px 0 #083446, -5px -5px #083446, 0 -5px #083446,
    5px 5px #083446, 0 5px #083446, 5px 0 #083446, -5px 5px #083446,
    5px -5px #083446;

  @include media(desktop) {
    margin-left: 12px;
  }
}

.hero-title-two {
  font-size: 50px;
  color: #ffec32;
  text-shadow: -5px 0 #993d02, -5px -5px #993d02, 0 -5px #993d02,
    5px 5px #993d02, 0 5px #993d02, 5px 0 #993d02, -5px 5px #993d02,
    5px -5px #993d02;

  @include media(desktop) {
    font-size: 100px;
  }
}

.hero-title-three {
  color: #9af846;
  text-shadow: -5px 0 #263c04, -5px -5px #263c04, 0 -5px #263c04,
    5px 5px #263c04, 0 5px #263c04, 5px 0 #263c04, -5px 5px #263c04,
    5px -5px #263c04;

  @include media(desktop) {
    margin-left: 120px;
  }
}

.hero-title-image {
  display: none;

  @include media(desktop) {
    position: absolute;
    top: -20px;
    left: 350px;
    display: block;
    width: 115px;
    height: 190px;
    background-image: url('/img/hero/heading-image1x.png');
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 192dpi) {
      background-image: url('/img/hero/heading-image2x.png');
    }
  }
}

.hero-images-wrapper {
  width: 120%;
  height: 315px;
  background-image: url('/img/hero/mob-items1x.png'),
    url('/img/hero/mob-mobile1x.png');
  background-repeat: no-repeat;
  background-position: 8px 14px, 105px 80px;
  background-size: 98%, 37%;

  @media (min-resolution: 192dpi) {
    background-image: url('/img/hero/mob-items2x.png'),
      url('/img/hero/mob-mobile2x.png');
  }
  @include media(desktop) {
    display: none;
  }
}

.hero-link-googleplay {
  display: inline-block;

  @include media(desktop) {
    position: absolute;
    left: 130px;
    bottom: -40px;

    & .hero-link-googleplay-img {
      width: 250px;
    }
  }
}
