.secrets-section {
  padding-top: 0;
  background-image: url('/img/secrets/royal_garden@1x.png');
  background-repeat: no-repeat;
  background-position: 50% 42%;
  background-size: 320px;

  @media (min-resolution: 192dpi) {
    background-image: url('/img/secrets/royal_garden@2x.png');
  }

  @include media(desktop) {
    background-size: 1200px;
    background-position-y: 22%;
  }
}

.secrets-section .section-subtitle {
  text-transform: capitalize;
  margin-bottom: 750px;
  width: 80%;

  @include media(desktop) {
    margin-bottom: 1790px;
  }
}

.secrets-section .container {
  background-image: url('/img/secrets/flux_dev1x.png'),
    url('/img/secrets/coins1x.png'), url('/img/secrets/box1x.png');
  background-repeat: no-repeat;
  background-position: 80% 19%, 50% 63%, 55% 90%;
  background-size: 70%, 30%, 75%;

  @media (min-resolution: 192dpi) {
    background-image: url('/img/secrets/flux_dev2x.png'),
      url('/img/secrets/coins2x.png'), url('/img/secrets/box2x.png');
  }

  @include media(desktop) {
    background-image: url('/img/secrets/destop-bg@1x.png');

    background-position: 58% 88%;
    background-size: 70%;

    @media (min-resolution: 192dpi) {
      background-image: url('/img/secrets/destop-bg@2x.png');
    }
  }
}

.secrets-text {
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;

  @include media(desktop) {
    width: 90%;
    text-align: start;
    color: #000;
    font-size: 40px;
    text-shadow: -2px 0 #766bed, -2px -2px #766bed, 0 -2px #766bed,
      2px 2px #766bed, 0 2px #766bed, 2px 0 #766bed, -2px 2px #766bed,
      2px -2px #766bed;
  }
}
