<div class="cookie-modal js-cookies">
  <div class="container">
    <h2 class="cookie-title visually-hidden">Cookies Policy</h2>
    <p class="cookie-modal-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookie-btns-list">
      <button class="cookie-btn decline js-cookie-btn">decline cookies</button>
      <button class="cookie-btn js-cookie-btn">accept cookies</button>
    </div>
  </div>
</div>
