<section class="features-section">
  <div class="container">
    <h2 class="section-title">Features</h2>
    <h3 class="section-subtitle">How To Play - It’s Easy & Fun!</h3>
    <ul class="features-list">
      <li class="features-item item-one">
        <p class="features-item-number"><span>1</span></p>
        <p class="features-item-text">Swipe 3 in a row</p>
      </li>
      <li class="features-item item-two">
        <p class="features-item-number"><span>2</span></p>
        <p class="features-item-text">Create Match</p>
      </li>
      <li class="features-item item-three">
        <p class="features-item-number"><span>3</span></p>
        <p class="features-item-text">Get Your Bonus Goals</p>
      </li>
    </ul>
  </div>
</section>
