
<footer class="footer">
  <a href="../index.html" class="footer-logo">
    <div class="footer-container container">
        <picture
        ><source
          srcset="/img/logo/logo1x.png 1x, /img/logo/logo2x.png 2x"

          media="(min-width: 1200px)"
          width="129"
          height="129"
        />
        <source
          srcset="/img/logo/logo1x.png 1x, /img/logo/logo2x.png 2x"
          media="(min-width: 320px)"
          width="42"
          height="42"
        />
        <img src="../img/logo/logo1x.png" alt="footer logo" />
      </picture>
    </a>
    <ul class="pages-list">
      <li class="pages-list-item">
        <a href="../policy.html">Privacy Policy</a>
      </li>
      <li class="pages-list-item">
        <a href="../terms.html">Terms and Conditions</a>
      </li>
      <li class="pages-list-item">
        <a href="../cookies.html">Cookies</a>
      </li>
    </ul>
    
  <p class="footer-copy">
    All rights reserved gemroyale.site | 2025, All rights reserved

  </p>
</div>
</footer>
