<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <a href="/index.html">
        <img
          class="footer-logo"
          srcset="/img/logo/logo@2x.png 2x"
          src="/img/logo/logo@1x.png"
          alt="Logo image"
        />
      </a>
      <ul class="footer-list">
        <li class="footer-item">
          <a class="footer-link" href="../policy.html">Privacy Policy</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="../terms.html">Terms and Conditions</a>
        </li>
        <li class="footer-item">
          <a class="footer-link" href="../cookies.html">Cookies</a>
        </li>
      </ul>
    </nav>
    <p class="footer-copy">
      All rights reserved gemroyale.site | 2025, All rights reserved
    </p>
  </div>
</footer>
