<section class="gameOverview-section">
  <div class="container">
    <h2 class="section-title">Game Overview</h2>
    <h3 class="section-subtitle">
      Do you have what it takes to 2 the jewel master?
    </h3>
    <ul class="gameOverview-list">
      <li class="gameOverview-item">
        <img
          class="gameOverview-image"
          srcset="/img/gameOverview/img-1@2x.png 2x"
          src="/img/gameOverview/img-1@1x.png"
          alt="Game intro mobile image"
        />
        <p class="gameOverview-text">Match & Blast!</p>
        <p class="gameOverview-description">
          Swap gems to solve challenging puzzles
        </p>
      </li>
      <li class="gameOverview-item">
        <img
          class="gameOverview-image"
          srcset="/img/gameOverview/img-2@2x.png 2x"
          src="/img/gameOverview/img-2@1x.png"
          alt="Game intro mobile image"
        />
        <p class="gameOverview-text">500+ Levels</p>
        <p class="gameOverview-description">
          New stages added monthly for endless fun
        </p>
      </li>
      <li class="gameOverview-item">
        <img
          class="gameOverview-image"
          srcset="/img/gameOverview/img-3@2x.png 2x"
          src="/img/gameOverview/img-3@1x.png"
          alt="Game intro mobile image"
        />
        <p class="gameOverview-text special-item">Unlock Special Items</p>
        <p class="gameOverview-description">
          Use unique boosters to clear tricky levels
        </p>
      </li>
      <li class="gameOverview-item">
        <img
          class="gameOverview-image"
          srcset="/img/gameOverview/img-4@2x.png 2x"
          src="/img/gameOverview/img-4@1x.png"
          alt="Game intro mobile image"
        />
        <p class="gameOverview-text">Play Anywhere</p>
        <p class="gameOverview-description">
          No Wi-Fi needed! Play offline anytime
        </p>
      </li>
    </ul>
  </div>
</section>
