<header class="header">
  <div class="container">
    <a href="#hero">
      <img
        class="logo-image"
        srcset="/img/logo/logo2x.png 2x"
        src="/img/logo/logo1x.png"
        alt="Logo image"
      />
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <!-- <li class="header-nav-item">
          <a href="#hero" class="header-nav-link">Home</a>
        </li> -->
        <li class="header-nav-item">
          <a href="#gameOverview" class="header-nav-link">Game Overview</a>
        </li>
        <li class="header-nav-item">
          <a href="#features" class="header-nav-link">Features</a>
        </li>
        <li class="header-nav-item">
          <a href="#devTeamAvatars" class="header-nav-link">Dev Team Avatars</a>
        </li>
        <li class="header-nav-item">
          <a href="#artOfSound" class="header-nav-link">The Art of Sound</a>
        </li>
        <li class="header-nav-item">
          <a href="#playerHallofFame" class="header-nav-link"
            >Player Hall of Fame
          </a>
        </li>
        <li class="header-nav-item">
          <a href="#hiddenSecrets" class="header-nav-link">Hidden Secrets</a>
        </li>
        <li class="header-nav-item">
          <a href="#speedrunChallenges" class="header-nav-link"
            >Speedrun Challenges</a
          >
        </li>
      </ul>
    </nav>

    <!-- Mobile -->
    <button class="mob-menu-btn js-mob-menu-btn">
      <svg class="header-icon-burger">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="header-mob-menu js-header-mob-menu">
      <nav class="header-mob-nav">
        <button class="mob-menu-btn js-mob-menu-btn">
          <svg class="header-icon-burger">
            <use href="/img/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <ul class="mob-nav-list">
          <li class="mob-nav-item">
            <a href="#hero" class="mob-nav-link js-mob-nav-link">Home</a>
          </li>
          <li class="mob-nav-item">
            <a href="#gameOverview" class="mob-nav-link js-mob-nav-link"
              >Game Overview</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#features" class="mob-nav-link js-mob-nav-link"
              >Features</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#devTeamAvatars" class="mob-nav-link js-mob-nav-link"
              >Dev Team Avatars</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#artOfSound" class="mob-nav-link js-mob-nav-link"
              >The Art of Sound</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#playerHallofFame" class="mob-nav-link js-mob-nav-link"
              >Player Hall of Fame</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#hiddenSecrets" class="mob-nav-link js-mob-nav-link"
              >Hidden Secrets</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#speedrunChallenges" class="mob-nav-link js-mob-nav-link"
              >Speedrun Challenges</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
