<header class="header js-header">
  <div class="container">
    <a href="#hero" class="js-nav-link">
      <img
        class="logo-image"
        srcset="/img/logo/logo@2x.png 2x"
        src="/img/logo/logo@1x.png"
        alt="Logo image"
      />
    </a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#gameOverview" class="header-nav-link js-nav-link"
            >Game Overview</a
          >
        </li>
        <li class="header-nav-item">
          <a href="#features" class="header-nav-link js-nav-link">Features</a>
        </li>
        <li class="header-nav-item">
          <a href="#teams" class="header-nav-link js-nav-link"
            >Dev Team Avatars</a
          >
        </li>
        <li class="header-nav-item">
          <a href="#artOfSound" class="header-nav-link js-nav-link"
            >The Art of Sound</a
          >
        </li>
        <li class="header-nav-item">
          <a href="#player" class="header-nav-link js-nav-link"
            >Player Hall of Fame
          </a>
        </li>
        <li class="header-nav-item">
          <a href="#secrets" class="header-nav-link js-nav-link"
            >Hidden Secrets</a
          >
        </li>
        <li class="header-nav-item">
          <a href="#challenges" class="header-nav-link js-nav-link"
            >Speedrun Challenges</a
          >
        </li>
      </ul>
    </nav>

    <!-- Mobile -->
    <button class="mob-menu-btn js-mob-menu-btn" type="button">
      <svg class="header-icon-burger">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <div class="header-mob-menu js-header-mob-menu">
      <nav class="header-mob-nav">
        <button class="mob-menu-btn js-mob-menu-btn" type="button">
          <svg class="header-icon-burger">
            <use href="/img/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <ul class="mob-nav-list">
          <li class="mob-nav-item">
            <a href="#hero" class="mob-nav-link js-nav-link">Home</a>
          </li>
          <li class="mob-nav-item">
            <a href="#gameOverview" class="mob-nav-link js-nav-link"
              >Game Overview</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#features" class="mob-nav-link js-nav-link">Features</a>
          </li>
          <li class="mob-nav-item">
            <a href="#teams" class="mob-nav-link js-nav-link"
              >Dev Team Avatars</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#artOfSound" class="mob-nav-link js-nav-link"
              >The Art of Sound</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#player" class="mob-nav-link js-nav-link"
              >Player Hall of Fame</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#secrets" class="mob-nav-link js-nav-link"
              >Hidden Secrets</a
            >
          </li>
          <li class="mob-nav-item">
            <a href="#challenges" class="mob-nav-link js-nav-link"
              >Speedrun Challenges</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
