<section class="hero-section" id="hero">
  <div class="container">
    <h1 class="hero-title">
      <span class="hero-title-one">Jewel</span>
      <span class="hero-title-two">Royal</span>
      <span class="hero-title-three">Garden:</span>
      <span class="hero-title-image"></span>
    </h1>
    <div class="hero-images-wrapper"></div>
    <a
      href="https://play.google.com/store/apps/details?id=com.actionfit.royalgarden&hl=en&gl=us "
      class="hero-link-googleplay"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="hero-googleplay-icon"></div>
      <div class="hero-googleplay-text">
        <span class="small-text">GET IT ON</span>
        <span class="store-name">Google Play</span>
      </div>
    </a>
  </div>
</section>
