<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      <span class="hero-title-one">Jewel</span>
      <span class="hero-title-two">Royal</span>
      <span class="hero-title-three">Garden:</span>
      <span class="hero-title-image"></span>
    </h1>
    <div class="hero-images-wrapper"></div>
    <a
      class="hero-link-googleplay"
      href="https://play.google.com/store/apps/details?id=com.actionfit.royalgarden&hl=en&gl=us "
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="hero-link-googleplay-img"
        srcset="/img/hero/googleplay2x.png 2x"
        src="/img/hero/googleplay1x.png"
        alt="GooglePlay button image"
      />
    </a>
  </div>
</section>
