<section class="section-player">
  <div class="container">
    <h2 class="section-title">Player Hall Of Fame</h2>
    <h3 class="section-subtitle">
      Celebrate the top players of jewel royal garden!
    </h3>
    <ul class="player-list">
      <li class="player-list-item first-item">
        <div class="player-list-item-wrapper">
          <img
            class="player-item-avatar"
            srcset="/img/player/bob2x.png 2x"
            src="/img/player/bob1x.png"
            alt="image Bob"
          />
          <p class="player-item-name">Bob</p>
        </div>
        <img
          srcset="/img/player/golden_cup2x.png 2x"
          src="/img/player/golden_cup1x.png"
          alt="image golden cup"
        />
      </li>
      <li class="player-list-item">
        <div class="player-list-item-wrapper">
          <img
            class="player-item-avatar"
            srcset="/img/player/roby2x.png 2x"
            src="/img/player/roby1x.png"
            alt="image Roby"
          />
          <p>Roby</p>
        </div>
        <img
          srcset="/img/player/silver_cup2x.png 2x"
          src="/img/player/silver_cup1x.png"
          alt="image silver cup"
        />
      </li>
      <li class="player-list-item">
        <div class="player-list-item-wrapper">
          <img
            class="player-item-avatar"
            srcset="/img/player/steve2x.png 2x"
            src="/img/player/steve1x.png"
            alt="image steve"
          />
          <p>Steve</p>
        </div>
        <img
          srcset="/img/player/bronze_cup2x.png 2x"
          src="/img/player/bronze_cup1x.png"
          alt="image bronze cup"
        />
      </li>
    </ul>
  </div>
</section>
