<section class="section-player">
  <div class="container">
    <h2 class="player-title">Player Hall Of Fame</h2>
    <h3 class="player-subtitle">
      Celebrate the top players of jewel royal garden!
    </h3>
    <ul>
      <li>
        <img
          srcset="/img/player/golden_cup2x.png 2x"
          src="/img/player/golden_cup1x.png"
          alt="image golden cup"
        />
      </li>
      <li>
        <img
          srcset="/img/player/bob2x.png 2x"
          src="/img/player/bob1x.png"
          alt="image Bob"
        />
      </li>
      <p>Bob</p>
      <li>
        <img
          srcset="/img/player/roby2x.png 2x"
          src="/img/player/roby1x.png"
          alt="image Roby"
        />
      </li>
      <p>Roby</p>
      <li>
        <img
          srcset="/img/player/silver_cup2x.png 2x"
          src="/img/player/silver_cup1x.png"
          alt="image silver cup"
        />
      </li>
      <li>
        <img
          srcset="/img/player/steve2x.png 2x"
          src="/img/player/steve1x.png"
          alt="image steve"
        />
      </li>
      <p>Steve</p>
      <li>
        <img
          srcset="/img/player/bronze_cup2x.png 2x"
          src="/img/player/bronze_cup1x.png"
          alt="image bronze cup"
        />
      </li>
    </ul>
  </div>
</section>
