<section class="section-speedrun">
    <div class="section-container container">
      <h2 class="speedrun-title">Speedrun Challenges</h2>
      <h3 class="speedrun-subtitle">
        Think you can match and bast faster than anyone else?
      </h3>
        <img
          class="mobile-img"
          srcset="../img/speedrun/first_mobile2x.png 2x"
          src="../img/speedrun/first_mobile1x.png"
          alt="First Mobile image"
        />
        <img
          class="mobile-img"
          srcset="../img/speedrun/second_mobile2x.png 2x"
          src="../img/speedrun/second_mobile1x.png"
          alt="Second Mobile image"
        />
        <img
          class="mobile-img"
          srcset="../img/speedrun/third_mobile2x.png 2x"
          src="../img/speedrun//third_mobile1x.png"
          alt="Third Mobile image"
        />
      </div>
    </div>
  </section> 