<section class="teams-section" id="teams">
  <div class="container">
    <h2 class="section-title">Dev Team Avatars</h2>
    <h3 class="section-subtitle">
      Get a glimpse into how the game was brought to life!
    </h3>
    <ul class="teams-list">
      <li class="teams-item teams-item-1">
        <img
          class="teams-avatar"
          srcset="/img/teams/alyra@2x.png 2x"
          src="/img/teams/alyra@1x.png"
          alt="Alyra avatar"
        />
        <div class="teams-item-description">
          <h4 class="teams-name">Alyra</h4>
          <p class="teams-position">Product Manager</p>
          <p class="teams-booster">
            Favorite Booster:<span class="teams-booster-name">Hammer</span>
          </p>
        </div>
      </li>
      <li class="teams-item teams-item-2">
        <img
          class="teams-avatar"
          srcset="/img/teams/ruby@2x.png 2x"
          src="/img/teams/ruby@1x.png"
          alt="Ruby avatar"
        />
        <div class="teams-item-description">
          <h4 class="teams-name">Ruby</h4>
          <p class="teams-position">Level Artist</p>
          <p class="teams-booster">
            Favorite Booster:<span class="teams-booster-name">Bomb</span>
          </p>
        </div>
      </li>
      <li class="teams-item teams-item-3">
        <img
          class="teams-avatar"
          srcset="/img/teams/emerald@2x.png 2x"
          src="/img/teams/emerald@1x.png"
          alt="Emerald avatar"
        />
        <div class="teams-item-description">
          <h4 class="teams-name">Emerald</h4>
          <p class="teams-position">Front Developer</p>
          <p class="teams-booster">
            Favorite Booster:<span class="teams-booster-name">Rocket</span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
