.header {
  padding: 16px 0;
}
.header .container {
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 16px;
}
.nav {
  display: flex;
}
.header .logo-image {
  width: 27px;
}
.nav-list {
}

.nav-link {
}

.nav-link:hover,
.nav-link:focus {
}
