.section-hidden {
  padding: 32px 0 22px 0;
}

.section-container .container {
  padding: 0 13.5px 0 13.5px;
}

.hidden-title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #fff;
}

.hidden-subtitle {
  margin: 0 50px 62px 50px;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
}

.hidden-images-wrapper {
  width: 205px;
  height: 117px;
  background-image: url('../img/hidden/flux_dev1x.png'),
    url('../img/hidden/coins1x.png'), url('../img/hidden/box1x.png');
  background-repeat: no-repeat;
  background-position: 8px 14px, 105px 80px;
  background-size: 95%, 37%;

  @media (min-resolution: 192dpi) {
    background-image: url('../img/hidden/flux_dev2x.png'),
      url('../img/hidden/coins2x.png'), url('../img/hidden/box2x.png');
  }
  @include media(desktop) {
    display: none;
  }
}
