.section-player {
  padding: 32px 0 22px 0;
}

.container {
  padding: 0 13.5px 0 13.5px;
  width: 320px;
  margin: 0 auto;
}

.player-title {
  font-weight: 700;
  font-size: 28px;

  color: #fff;
}

.player-subtitle {
  padding: 4.5px 39px 4.5px 39px;
  margin: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-transform: capitalize;
  color: #fff;
}

.player-list-item {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  justify-content: center;
  margin: 32px;
}

.player-list-item.first-item {
  flex-direction: column-reverse;
  align-items: center;
}

.player-item-avatar {
  margin-bottom: 32px;
}

.player-item-name {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
