.section-player {
  @include media(desktop) {
    padding-bottom: 80px;
    background-image: url('/img/player/destop-bg@1x.png');
    background-repeat: no-repeat;
    background-position: 85% 103%;
    background-size: 20%;

    @media (min-resolution: 192dpi) {
      background-image: url('/img/player/destop-bg@2x.png');
    }
  }
}

.section-player .section-subtitle {
  text-transform: capitalize;
  width: 217px;

  @include media(desktop) {
    margin-left: 0;
    width: 90%;
  }
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
  }
}

.player-list-item {
  display: flex;
  flex-direction: row-reverse;
  gap: 60px;
  align-items: flex-start;
  justify-content: center;

  @include media(desktop) {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0;

    &:nth-child(1) {
      width: 560px;

      & .player-item-cup {
        width: 180px;
        margin-bottom: 40px;
      }
    }
    &:nth-child(2) {
      width: 306px;
      z-index: -1;
      margin-top: 90px;
      margin-left: -90px;

      & .player-item-cup {
        width: 120px;
        margin-bottom: 30px;
      }
    }
    &:nth-child(3) {
      width: 226px;
      z-index: -2;
      margin-top: 160px;
      margin-left: -35px;

      & .player-item-cup {
        width: 60px;
        margin-bottom: 20px;
      }
    }
  }
}

.player-list-item.first-item {
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    & .player-item-avatar {
      box-shadow: #ffffffbb 0px 0px 20px 15px inset, #ffffffbb 0px 0px 15px 25px;
    }
  }

  & .player-item-name {
    color: #2c2c54;
    text-align: center;
    font-size: 36px;

    @include media(desktop) {
      color: #000;
    }
  }
}

.player-item-text {
  display: none;
  @include media(desktop) {
    display: block;
    font-size: 20px;

    &.first {
      margin-bottom: 100px;
      font-size: 32px;
      color: #fff;
    }
    &.second {
      margin-bottom: 20%;
      color: #dadcf7;
    }
    &.three {
      margin-bottom: 10%;
      color: #2c2c54;
    }
  }
}

.player-item-avatar {
  margin-bottom: 36px;
  @include media(desktop) {
    width: 560px;
  }
}

.player-item-name {
  color: #000;
  font-size: 24px;
  font-weight: 700;

  @include media(desktop) {
    text-align: center;
  }
}
