.section-skills {
  padding: 32px 0 22px 0;
}

.section-container .container {
  padding: 0 13.5px 0 13.5px;
}

.skills-title {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  color: #fff;
}

/* .skills-subtitle {
  margin: 0 50px 62px 50px;
  font-weight: 500;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
} */

.skills-images-wrapper {
  width: 120%;
  height: 315px;
  background-image: url('../img/skills/flux_dev_2D1x.png'),
    url('../img/skills/Flux_Dev2_2D1x.png'),
    url('../img/skills/Flux_Dev3_2D1x.png');
  background-repeat: no-repeat;
  background-position: 8px 14px, 105px 80px;
  background-size: 95%, 37%;

  @media (min-resolution: 192dpi) {
    background-image: url('../img/skills/flux_dev_2D2x.png'),
      url('../img/skills/Flux_Dev2_2D2x.png'),
      url('../img/skills/Flux_Dev3_2D2x.png');
  }
  @include media(desktop) {
    display: none;
  }
}
