@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import './common/common.scss';

@import './header.scss';
@import './hero.scss';
@import './gameOverview.scss';
@import './features.scss';
@import './teams.scss';
@import './artOfSound.scss';
@import './player.scss';
@import './secrets.scss';
@import './challenges.scss';
@import './skills.scss';
@import './footer.scss';
@import './cookies-modal.scss';
