@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

@import './common/common.scss';

@import './header.scss';
@import './hero.scss';
@import './gameOverview.scss';
@import './features.scss';
@import './teams.scss';
@import './artOfSound.scss';
@import './player.scss';
@import './secrets.scss';

// @import './speedrun.css';
// @import './skills.css';
// @import './footer.css';
